body {
  background-color: #00232B;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  gap: 2rem;
}

body .head {
  width: 112px;
  height: 112px;
  border-radius: 112px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .head.active {
  border: solid 8px #fff;
}

body .head.inactive {
  opacity: 0.6;
}

body .head#one {
  background: radial-gradient(farthest-corner at 5% 72.5%, #FF422A, #FF8153);
}

body .head#one .eyes {
  -webkit-transform: translate3d(10%, 75%, 0);
          transform: translate3d(10%, 75%, 0);
}

body .head#one:hover {
  background: radial-gradient(farthest-corner at 0% 80%, #FF1A11, #FFA66B);
}

body .head#one:hover .eyes {
  -webkit-transform: translate3d(0%, 75%, 0);
          transform: translate3d(0%, 75%, 0);
}

body .head#one .moose {
  width: 16px;
  height: 8px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 8px solid #00232B;
  border-bottom: 0;
}

body .head#two {
  background: radial-gradient(farthest-corner at 5% 72.5%, #FF5A29, #FFAD53);
}

body .head#two .eyes {
  -webkit-transform: translate3d(10%, 50%, 0);
          transform: translate3d(10%, 50%, 0);
}

body .head#two:hover {
  background: radial-gradient(farthest-corner at 0% 80%, #FF2710, #FFDD6B);
}

body .head#two:hover .eyes {
  -webkit-transform: translate3d(0%, 50%, 0);
          transform: translate3d(0%, 50%, 0);
}

body .head#two .moose {
  width: 16px;
  height: 8px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 8px solid #00232B;
  border-bottom: 0;
}

body .head#three {
  background: radial-gradient(farthest-corner at 5% 72.5%, #FFAA40, #FFD683);
}

body .head#three .eyes {
  -webkit-transform: translate3d(10%, 0%, 0);
          transform: translate3d(10%, 0%, 0);
}

body .head#three:hover {
  background: radial-gradient(farthest-corner at 0% 80%, #FF931C, #FFECA5);
}

body .head#three:hover .eyes {
  -webkit-transform: translate3d(0%, 0%, 0);
          transform: translate3d(0%, 0%, 0);
}

body .head#three .moose {
  width: 32px;
  height: 8px;
  background-color: #00232B;
}

body .head#four {
  background: radial-gradient(farthest-corner at 5% 72.5%, #FFC528, #FFE252);
}

body .head#four .eyes {
  -webkit-transform: translate3d(10%, -50%, 0);
          transform: translate3d(10%, -50%, 0);
}

body .head#four:hover {
  background: radial-gradient(farthest-corner at 0% 80%, #FFB512, #FFF36B);
}

body .head#four:hover .eyes {
  -webkit-transform: translate3d(0%, -50%, 0);
          transform: translate3d(0%, -50%, 0);
}

body .head#four .moose {
  width: 16px;
  height: 8px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 8px solid #00232B;
  border-top: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

body .head#five {
  background: radial-gradient(farthest-corner at 5% 72.5%, #FFC528, #FFF368);
}

body .head#five .eyes {
  -webkit-transform: translate3d(10%, -75%, 0);
          transform: translate3d(10%, -75%, 0);
}

body .head#five:hover {
  background: radial-gradient(farthest-corner at 0% 80%, #FFE015, #FFFA87);
}

body .head#five:hover .eyes {
  -webkit-transform: translate3d(0%, -75%, 0);
          transform: translate3d(0%, -75%, 0);
}

body .head#five .moose {
  width: 32px;
  height: 16px;
  border-radius: 0 0 16px 16px;
  background-color: #00232B;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

body .head .eyes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
  height: 24px;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

body .head .eyes .eye {
  background-color: #00232B;
  border-radius: 16px;
  width: 16px;
  height: 16px;
}

body .head .eyes .moose {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .head:hover .eyes {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=style.css.map */