$head-size: 56px * 2;
$eyes: (56px - 16px) * 2;
$eye: 8px * 2;

body {
    background-color: #06071b;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 2rem;

    .head {
        width: $head-size;
        height: $head-size;
        border-radius: $head-size;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &#one {
            background: radial-gradient(farthest-corner at 10% 75%, #FF603E, #FF8153);

            .moose {
                width: 16px;
                height: 8px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                border: 8px solid #0b0b0b;
                border-bottom: 0;
            }
        }
        &#two {
            background: radial-gradient(farthest-corner at 10% 75%, #FF833E, #FFAD53);

            .moose {
                width: 16px;
                height: 8px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                border: 8px solid #0b0b0b;
                border-bottom: 0;
            }
        }
        &#three {
            background: radial-gradient(farthest-corner at 10% 75%, #FFC061, #FFD683);

            .moose {
                width: 32px;
                height: 8px;
                background-color: #0b0b0b;
            }
        }
        &#four {
            background: radial-gradient(farthest-corner at 10% 75%, #FFD43E, #FFE252);
            
            .moose {
                width: 16px;
                height: 8px;
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
                border: 8px solid #0b0b0b;
                border-top: 0;
            }
        }
        &#five {
            background: radial-gradient(farthest-corner at 10% 75%, #FFED4E, #FFF368);
            
            .moose {
                width: 32px;
                height: 16px;
                border-radius: 0 0 16px 16px;
                background-color: #0b0b0b;
            }
        }

        .eyes {
            display: flex;
            justify-content: space-between;
            width: $eyes;
            height: 24px;
            transform: translateX(10%);
            transition: ease-in-out 0.4s;

            .eye {
                background-color: #0b0b0b;
                border-radius: $eye;
                width: $eye;
                height: $eye;
            }

            .moose {
                align-self: flex-end;
            }

            &:hover {
                transform: translateX(0);
            }
        }
    }
}